In [88]:
import pandas as pd

sisi_1 = [22, 15, 9, 5, 17, 22, 16, 6, 6, 20, 8, 30, 9, 15, 11, 17, 5, 16, 9, 26]
sisi_2 = [10, 5, 5, 13, 6, 12, 8, 5, 16, 17, 5, 22, 12, 10, 15, 3, 6, 13, 15, 5]

df = pd.DataFrame({'sisi1': sisi_1, 'sisi2': sisi_2})
df

    sisi1  sisi2
0      22     10
1      15      5
2       9      5
3       5     13
4      17      6
5      22     12
6      16      8
7       6      5
8       6     16
9      20     17
10      8      5
11     30     22
12      9     12
13     15     10
14     11     15
15     17      3
16      5      6
17     16     13
18      9     15
19     26      5

In [93]:
persegi = df['sisi1'] * df['sisi2']

In [94]:
jajargenjang = (df['sisi1']*2) + (df['sisi2']*2)

In [95]:
print(persegi)

0     220
1      75
2      45
3      65
4     102
5     264
6     128
7      30
8      96
9     340
10     40
11    660
12    108
13    150
14    165
15     51
16     30
17    208
18    135
19    130
dtype: int64

In [96]:
print(jajargenjang)

0      64
1      40
2      28
3      36
4      46
5      68
6      48
7      22
8      44
9      74
10     26
11    104
12     42
13     50
14     52
15     40
16     22
17     58
18     48
19     62
dtype: int64

In [117]:
df = [persegi, jajargenjang]


df

[0     220
 1      75
 2      45
 3      65
 4     102
 5     264
 6     128
 7      30
 8      96
 9     340
 10     40
 11    660
 12    108
 13    150
 14    165
 15     51
 16     30
 17    208
 18    135
 19    130
 dtype: int64,
 0      64
 1      40
 2      28
 3      36
 4      46
 5      68
 6      48
 7      22
 8      44
 9      74
 10     26
 11    104
 12     42
 13     50
 14     52
 15     40
 16     22
 17     58
 18     48
 19     62
 dtype: int64]

In [119]:
df1 = persegi

if df1 >= 10:
    print("Luas Persegi")
print("Jajar Genjang")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().